/* CSS�̃R�����g�͂��̂悤�ɏ����܂��BHTML�̃R�����g�Ƃ͈Ⴂ�܂��� */
div {
color: #d63939;
width: 500px;
margin-top:20px;
margin-right:auto;
margin-left:auto;
}
span {
color:#279372;
}
h1 {
color:#006600;
font-size:30px;
}

/*bbb.html�����Ɏw�肵�Ă�����h2�v�f��CSS���ꏏ�ɂ��܂�*/
h2 {
font-size:110%;
border-top:solid 1px #ccc;
margin-top:50px;
}

img {
margin-right:20px;
border-style: none;
}
a {
font-size: 150%;
font-weight: bold;
color: #ffbd66;
text-decoration: none;
}
a:hover {
color: #430c61;
text-decoration: underline;
font-style: italic;
}

p#goto-profile a {
/* コメント */
background: url(../image/11-5_btn2.gif) no-repeat left top;
width: 140px;
height: 36px;
display: block;
color: #FFFFFF;
font-size: 15px;
line-height: 36px;
text-align: center;
}
p#goto-profile a:hover {
/*�摜��URL�́A����CSS�t�@�C�������̑���URL�ɏC�������K�v�������܂�*/
background: url(../image/11-5_btn2.gif) no-repeat right top;
}
