<% provide :title, "サインアップ" %>
<% provide :button_text, "create account" %>
<h1>サインアップページ</h1>
<p>ぱぱっと実装したい人生だった.</p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "user_form" %>
  </div>
</div>
